.header-fix {
}

.navbar {
    justify-content:  space-between;
}
span {
    padding-right: 1rem;
}
.banner-class {
 
    text-align: center;
    background-color: cadetblue;
    color: black;
    padding: 10px;
}