<mat-toolbar color="primary">
  <span><img src="/assets/images/logo.png" height=30 width=41></span>
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/faq"  routerLinkActive="active"><span class="fa fa-info fa-lg"></span> FAQ</a>
  <a mat-button routerLink="/helpline"  routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Helpline Service</a>
  <a mat-button routerLink="/contact"  routerLinkActive="active"><span class="fa fa-info fa-lg"></span> ContactUS</a>

  <!-- <a mat-button routerLink="/helpline" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Helpline</a>
  <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a> -->
  <span class="flex-spacer"></span>
</mat-toolbar>
