.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
 background: #00abff;
 position: relative;
}
.footersection p{
    color: #fff;

}
.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}

.footersection h3{
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}