<footer class="footersection" id="footerdiv">
  <div class="container">
     <div class="row">
         <div class="col-lg-4 col-md-6 col-12 footer-div">
             <div>
                 <h3>About me</h3>
                 <P> dbhbbdafbbbbbbbbbbbbbbbbbaj
                     bfjkabfffffffffffffffff</P>
             </div>

         </div>
     
     <div class="col-lg-4 col-md-6 col-12 footer-div text-center">
      <div>
          <h3>About me</h3>
              <li><a href="#"> Home</a> </li>  
              <li><a href="#"> service</a> </li>   
              <li><a href="#"> product</a> </li>    
              <li><a href="#"> price</a> </li>   
</div>

  </div>
  <div class="col-lg-4 col-md-12 col-12 footer-div">
      <div>
          <h3>newsleterr</h3>
          <P> dbhbbdafbbbbbbbbbbbbbbbbbajbfjk
              abfffffffffffffffff</P>
              <div class="container newsletter-main">
                  <div class="row">
                      <div class="col-lg-12  col-12">
                          <div class="input-group mb-3">
                              <input type="text" class="form-control news-letter" placeholder="Your Email">
                              <div class="input-group-append">
                                <span class="input-group-text">Subscribe</span>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
      </div>

  </div>
</div>
<div class="mt-5 text-center">
<p>copyright@2020 dont use my code</p>
</div>
<div class="scrolltop float-right">
  <i class="fa fa-arrow-up " onclick="topFunction()" id="myBtn"></i>
</div>
  </div>

</footer>
